<!-- list of all upcoming bookings. needs to be edited to only show public events -->
{% extends '../templates/base.html' %}
{% load i18n %}

{% block meta_title %}{% trans "Upcoming Events" %}{% endblock %}
{% block title %}{% trans "Upcoming Events" %}{% endblock %}

{% block main %}
<h4>All upcoming public events are shown here. For more information about a particular event, please contact the organiser</h4>
            {% for booking in bookings %}
                <div class="post">
                    <h1><a href="{% url 'booking_detail' pk=booking.pk %}">{{ booking.title }}</a> with {{booking.user}}</h1>
                    <div class="date">
                        {{ booking.start_date }}
                    </div>
                    <p>{{ booking.desc|linebreaks }}</p>
                </div>
            {% endfor %}
{% endblock main %}